.single-service{
    border: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
}
.service-bg{
    height: 180px;
    position: relative;
}
.service-bg-1{
    background: url("../img/service-section.jpeg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.service-bg h2{
    color:#fff;
    background-color: tomato;
    border: 1px solid tomato;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding: 14px;
    position: absolute;
    left:8%;
    width: 84%;
    margin:0;
    bottom:-25px;
    border-radius: 50px;
    letter-spacing: 2px;
}
.single-serve:hover .service-bg h2{
    background: #fff;
    transition: .9s;
    color: tomato;
}
.service-text{
    padding: 50px 30px 20px;
    font-size: 15px;
    font-weight: 400;
}
.service-text p:last-child{
    margin:0;
    line-height: 1.8;
}
.btn-area{
    display: inline-block;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: uppercase;
}