$text-link: #2999ff;
$text-color: #444;
// $link-hover-color:    ;

// $background: #f0f2f5;
$background: #fff;
$border: #ccc;


/*   Header Navbar Styling Variable  */
// $nav-background: #bcaaa4;
$nav-background: #000000;
$nav-active-background:#fff;
$nav-fontSize: 20px;
$nav-text-color: #fff;



/* Footer Styling Variable   */
// $footer-top-background: #1b1b1b;          //black
// $footer-top-background: #1d262f;      //darkslategray   

$footer-top-background: #1d262f;
$footer-bottom-background: #222222;              //darkslategray