
// body {
//   min-height: 100vh;
//   background: #fafafa;
// }
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.progress {
  height: 10px;
}
.b-rounded {
  border-radius: 0.6rem !important;
}
.b-shadow{
  overflow: hidden;
  margin-bottom: 20px;
  border: 0;
  border-radius: 10px !important;
  background: white;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
}
// .b-card :hover {
//   border-radius: 10px !important;
//   box-shadow:0 2px 6px rgba(0,0,0,0.3),0 3px 8px rgba(0,0,0,0.2)
// }

// .card-img-top{
//   background-size: cover !important;
//   background-position: center center;
//   background-origin: padding-box;
//   -webkit-filter: blur(20px);
//   -moz-filter: blur(20px);
//   -o-filter: blur(20px);
//   -ms-filter: blur(20px);
//   filter: blur(20px);
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: 0;
// }