
.circle {
    border-radius: 50% !important;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 100%;
}
.table td, .spectre .table th {
    border-bottom: .05rem solid #70bfdb;
    padding: .6rem .4rem;
}
.btn.btn-error {
    background: #e85600;
    border-color: #d95000;
    color: #fff;
}
.btn.btn-sm {
    height: 1.7rem;
	width: 1.7rem;
    padding: 0rem;
}
.btn.btn-action {
    padding-left: 0;
    padding-right: 0;
    width: 1.8rem;
	line-height: 1;
}

.btn.btn-action.btn-sm i{
    font-size: .9rem;
}
@media (max-width: 720px){
  button.float-left.close{
    display: none !important;
  }
}
@media (min-width: 992px){
	.modal-lg, .modal-xl {
		max-width: 750px !important;
  }
  button.float-left.close{
    font-size: 20px !important;
  }
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  
  .progress {
    height: 10px;
  }
  .b-rounded {
    border-radius: 0.6rem !important;
  }
  .b-shadow{
      width: fit-content;
    overflow: hidden;
    margin-bottom: 20px;
    border: 0;
    border-radius: 10px !important;
    background: white;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  }
  .main-container{
    max-width: 1250px !important;
    margin-top: 25px;
    min-height: 100vh;
   margin-bottom: 50px;
    margin: auto;
  }
  .column{
    max-width: 100%;
    padding-left: .4rem;
    padding-right: .4rem;
  }
  .bestseller{
    border-radius: 20px;
    display: inline-block;
    padding: 0.4rem 0.7rem;
    white-space: nowrap;
    background-color: #0d8537;
    color: white;
    // font-weight: bold;
    margin-top: 4%;
  }