.table-wrapper {
    background: #fff;
    padding: 20px;
    margin: 30px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}
.search-box input:focus {
    border-color: #3FBAE4;
}
/* .search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
} */
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td a {
    color: #a0a5b1;
    margin: 0 5px;
}
table.table td a.view {
    color: #03A9F4;
}
table.table td i {
    font-size: 19px;
} 
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 100%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}
.pagination li a:hover {
    /* color: #666; */
    color:#0397d6;
}	
.pagination li.active a {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
} 
.space{
	  margin-top: 20px;
      margin-bottom: 10px;
	  border: none;
	  border-radius: 1.5rem;
	  padding: 1%;
	  background: #0062cc;
	  color: #fff;
	  font-weight: 600;
	  width: 15%;
      transition: all .5s;
}
.space:hover{
	color: #FFFFFF;
	background: #222222;
}
.choose{
  background:  #0062cc;
	  border-radius: 1.5rem;
  color: red;
  padding: 1em;
}