#PdCdHg{
    padding: 25px 0;
    z-index: 4;
    text-align: center;
    .PdCdHg-title {
        font-size: 56px;
        line-height: 1.07143;
        font-weight: 600;
        letter-spacing: -.005em;
        color: #f5f5f7;
    }
    .PdCDHg-subtitle{
        font-size: 28px;
        line-height: 1.10722;
        font-weight: 400;
        letter-spacing: .004em;
        margin-top: 6px;
        color: #f5f5f7;
    }
}